doctype html
html
    head
        include include/head

    body(ontouchstart)
        section(class="ui-container")
            section(id="table")
                table(class="ui-table ui-border-tb") 
                    thead
                        tr 
                            th  id
                            th  name
                            th  date
                            th  talked
                    tbody(id="tbody")
            
            section(id="display")
                h1 下次培训

            section(id="form")
                if logged_in
                    .ui-form.ui-border-t
                        form(action="#")
                            .ui-form-item.ui-border-b
                                label Name
                                input(id="talkername" type="text" placeholder="Type talker name")
                                a(href="#" class="ui-icon-close")

                            .ui-form-item.ui-form-item-checkbox.ui-border-b
                                label(class="ui-checkbox")
                                    input(id="talked" type="checkbox" checked="")
                                p Already talked

                            .ui-btn-wrap(id="add_talker")
                                button(class="ui-btn-lg ui-btn-primary") Add
                            
                            .ui-btn-wrap(id="to_next")
                                button(class="ui-btn-lg ui-btn-primary") Next

        include include/footer
        script(src="/public/js/index.js")